@font-face {
  font-family: "AC-Regular"; /*Can be any text*/
  src: local("AdobeClean"),
    url("./fonts/AdobeClean/AdobeClean-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "AC-Regular";
}

body {
  background: #fff;
  color: #69665c;
  padding: 20px;
}
